<h2>All Historical Landmarks</h2>

<!-- add content here -->

<<<<<<< HEAD

   
   <%@landmarks.each do |l|%>
    <h3>Name: <%=l.name%></h3>
=======
<<<<<<< HEAD
<% @landmarks.each do |l| %>
=======
 <% @landmarks.each do |l| %>
>>>>>>> e6ad1e47641aeae31cf9943b05cc007c417ec3e6
    <h3>Name: <%= l.name %></h3>
>>>>>>> 1de8bca1fa0bd12d5b992bf21ac527b403061c11
    <h4>Year Completed: <%=l.year_completed%></h4>
  </br>
  <%end%>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
