<h2>Create New Landmark</h2>

<!-- add content here -->

<form action="/landmarks" method="post">
  <input type="text" id="landmark_name" name="landmark[name]" value="name">
<<<<<<< HEAD
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]" value="year completed">
  <input type="submit" name="submit" value="Create New Landmark">
</form>

=======
  
  <input type="text" id="landmark_year_completed" name="landmark[year_compeleted] " value="year compeleted">
 
 <input type="submit" name="submit" value="Create New Landmark">
 
 </form>
<<<<<<< HEAD
>>>>>>> 1de8bca1fa0bd12d5b992bf21ac527b403061c11
 
=======
  
  
>>>>>>> e6ad1e47641aeae31cf9943b05cc007c417ec3e6
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
